<!-- Start Categories of The Month -->
<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
        <h2>Financiación</h2>
        <p>Accede a nuestras soluciones de precisión con planes de financiación a medida. En Agro Parallel hacemos que la tecnología agrícola esté al alcance de todos.</p>
        
    </div>
  </div>
  <div class="row">
    
    <div class="col-12 col-md-4 p-5 mt-3">
      
        <img
          src="./assets/img/agronacion.webp"
          class="rounded-circle img-fluid border"
      />
      <h2 class="h5 text-center mt-3 mb-3">36 cuotas</h2>
      
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
        
          <img
            src="./assets/img/bnacoencta.webp"
            class="rounded-circle img-fluid border"
        />
        <h2 class="h5 text-center mt-3 mb-3">Compra hoy paga dentro de un año</h2>
        
      </div>
    <div class="col-12 col-md-4 p-5 mt-3">
        <img
            src="./assets/img/fabrica.webp"
            class="rounded-circle img-fluid border"
        />
        <h2 class="h5 text-center mt-3 mb-3">Cheques propios</h2>
      
      </div>
    
  </div>
</section>
<!-- End Categories of The Month -->
