<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Acerca de Agro Parallel</h1>
                <p>
                    Agro Parallel es una empresa innovadora dedicada a ofrecer soluciones de agricultura de precisión. Con nuestros sistemas de piloto automático, base rtk ,sistemas de corte y dosis variable , mejoramos la eficiencia y precisión en el campo, ayudando a nuestros clientes a maximizar su productividad y reducir costos. 
                </p>
                <p>
                    Nuestros productos están diseñados para facilitar la operación agrícola, ofreciendo una instalación simple y fácil, con tecnologías avanzadas para garantizar la mejor experiencia en el uso de maquinaria agrícola.
                </p>
            </div>
            <div class="col-md-4">
                <img src="assets/img/about-hero.png" alt="About Agro Parallel" />
            </div>
        </div>
    </div>
</section>

  <!-- Close Banner -->
  