 <!-- Start Section -->
 <section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Nuestros Servicios</h1>
            <p>
                En Agro Parallel ofrecemos soluciones avanzadas y accesibles para la agricultura de precisión, facilitando el trabajo en el campo con tecnología de última generación.
            </p>
        </div>
    </div>
    <div class="row">

        <!-- Servicio: Instalación Simple -->
        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-tools"></i></div>
                <h2 class="h5 mt-4 text-center">Instalación Simple</h2>
                <p class="text-center">Nuestros productos están diseñados para una instalación rápida y sencilla, permitiendo una puesta en marcha eficiente.</p>
            </div>
        </div>

        <!-- Servicio: Financiación Accesible -->
        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-hand-holding-usd"></i></div>
                <h2 class="h5 mt-4 text-center">Financiación Accesible</h2>
                <p class="text-center">Ofrecemos opciones de financiación que se adaptan a tus necesidades, facilitando el acceso a nuestras soluciones.</p>
            </div>
        </div>

        <!-- Servicio: Soporte Técnico -->
        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-headset"></i></div>
                <h2 class="h5 mt-4 text-center">Soporte Técnico</h2>
                <p class="text-center">Brindamos soporte técnico especializado para garantizar el funcionamiento óptimo de nuestros sistemas.</p>
            </div>
        </div>

        <!-- Servicio: Agricultura de Precisión -->
        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-map-marked-alt"></i></div>
                <h2 class="h5 mt-4 text-center">Agricultura de Precisión</h2>
                <p class="text-center">Nuestras tecnologías, como el AGP-AU-RTK y AGP-RTK, te ofrecen máxima precisión para optimizar tu producción.</p>
            </div>
        </div>
    </div>
</section>

<!-- End Section -->

